[user]
	name = Michael Foss
	email = michael@mikefoss.com
[core]
	editor = vim
	# excludesfile = /Users/mfoss/.gitignore_global
[alias]
  f = fetch --prune
	co = checkout
	cob = checkout -b
	br = branch
	wip = !git add -A && git commit -m \"WIP\"
	piw = reset HEAD~1
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	amend = commit --no-edit --amend
	r = rebase
	ri = rebase --interactive
	ra = rebase --abort
	rc = rebase --continue
	cp = cherry-pick
	cpc = cherry-pick --continue
	m = merge
	ma = merge --abort
	mc = merge --continue
	aa = add -A
	message = log -1 --pretty=%B
	msg = log -1 --pretty=%B
	push1 = !git push -u origin $(git rev-parse --abbrev-ref HEAD)

